.grid-container {
  display: grid;
  grid-template-columns: minmax(200px, 400px) 1fr;
  grid-template-rows: 40px 1fr;
  gap: 1px 1px;
}

.grid-container > * {
  border: 1px solid #ddd;
}

.grid-container header {
  grid-column: 1 / span 2;
  padding: 5px;
}

a {
  text-decoration: none;
}

.grid-container header img {
  height: 30px;
  padding-right: 2px;
  vertical-align: middle;
}

@media screen and (max-width: 767.99px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 200px auto;
  }

  .grid-container header {
    grid-column: 1;
  }
}
